<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/style.css">
    <title>'Kristopher Terran Baily'</title>
</head>

<body>
    <!-- Header with title and external links -->
    <header>
        <!-- Logo -->
        <a href="/" id='logo'>
            <img src="../../img/assets/IMG_20201019_201517_754 (1).jpg" alt="Logo">
        </a>
        <!-- page title -->
        <h1 id='title'>
            Kris Terran Baily
        </h1>
        <!-- external page links -->
        <div>

        </div>
        <button id='mobileButton'>///</button>

        <nav id="externalLinks" class='mobileInvisible'>
            <a href="https://github.com/Kristerran" id="github" class="linkButton">
                Github
            </a>
            <a href="/contact" id='contact' class="linkButton">
                Contact
            </a>
            <a href="https://www.linkedin.com/in/kris-terran-baily/" id='linkedin' class="linkButton">
                Linkedin
            </a>
        </nav>
    </header>
    <!-- main page content -->
    {{{body}}}
    <!-- footer with page signiture -->
    <footer>
        <h3 id='signiture'>Created by Kris Terran Baily 2021</h3>
    </footer>
    <script src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script src="../../js/script.js"></script>
</body>

</html>