    <main>
        <div class="contactCard">
            <div class="contactCardInner">
              <div id="front">
                <img src="../img/assets/IMG_20201019_201517_754 (1).jpg" alt="Logo">
                <h1>
                    Kris Terran Baily
                </h1>
            </div>
              <div id="back">
                <h1>
                    Kris Terran Baily
                </h1>
                <a href="tel:5304170111">Phone: (530) 417-0111</a>
                <a href="mailTo: kristopherbaily@gmail.com">Email: KristopherBaily@gmail.com</a>
              </div>
            </div>
          </div>
    </main>