    <main>
        <!-- buttons to change shown card -->
        <nav id='PageNavWrapper'>
            <button class='pageNav' id='aboutMe'>About Me</button>
            <button class='pageNav' id='portfolio'>Portfolio</button>
            <button class='pageNav' id='resume'>Resume</button>
        </nav>
        <!-- switchable cards showing main page content -->
        <div class='card' id='aboutMeCard'>
            <h2 id='aboutMe'>About Me</h2>
            <img src="../img/assets/IMG_20200807_175956.jpg" alt="Kristopher Terran Baily Portrait" id='portrait'>
            <p>Kris Terran Baily is a web designer currently enrolled in Uc davis web development bootcamp.
                Kris has a background in art and creative problem solving. They specialize in creating beautiful
                websitess
                with creative themes and content.</p>
            <p>Follow the button above to see examples of Kris' work in school and personal projects.</p>
            <P>Kris is currently available for hire! If you are interested in working with them, please take a look at
                their resume and contact me pages.
                Feel free to reach out with questions or comments.
            </P>
        </div>
        <div class='card invisible' id='portfolioCard'>
            <h2 id='portfolio'>Portfolio</h2>
            <div class="portfolioEl">
                <a href="https://kristerran.github.io/homeworkFour/"><img src="../img/screenshots/codingQuiz.png"
                        alt="Screenshot of project, features a timer, questions, and a submit button."></a>
                <div class="label">
                    <h2 class="labelText">
                        Homework Four: Coding Quiz.
                    </h2>
                </div>
            </div>

            <div class="portfolioEl">
                <a href="https://kristerran.github.io/thereandback/"><img src="../img/screenshots/thereAndBack.png"
                        alt="Screenshot of project, heading reads There and back, features a to-do list, map view, and weather app."></a>
                <div class="label">
                    <h2 class="labelText">
                        Group project #1 There and back: Travel app.
                    </h2>
                </div>
            </div>

            <div class="portfolioEl">
                <a href="https://github.com/Kristerran/pillarartgallery"><img
                        href="https://github.com/Kristerran/homeworkTwo"
                        src="../img/screenshots/pillar.png"
                        alt="Screenshot of project, three dimensional gallery application with large pillar in center of page. Rendered art pieces apear a"></a>
                <div class="label">
                    <h2 class="labelText">
                        Group project #2 Pillar Art Gallery
                    </h2>
                </div>
            </div>

            <div class="portfolioEl">
                <a href="https://github.com/projectKroak"><img
                        src="../img/screenshots/virtuefig.png"
                        alt="Screenshot of in construction application, will change as project is updated!"></a>
                <div class="label">
                    <h2 class="labelText">
                        Cirtuefig, first personal project (still in construction)
                    </h2>
                </div>
            </div>
        </div>


        <div class='card invisible' id='resumeCard'>
            <h2>
                Resume
            </h2>
            <h3>
                Kris Terran Baily
            </h3>
            <h4>
                Full Stack Web Developer
            </h4>


            <div class='resumeSection'>
                <h4>
                    Skills:
                </h4>
                <ul>
                    <li>
                        Javascript
                    </li>
                    <li>
                        HTML5
                    </li>
                    <li>
                        UX Design
                    </li>
                    <li>
                        Wireframing
                    </li>
                    <li>
                        CSS
                    </li>
                    <li>
                        Node.js
                    </li>
                    <li>
                        JSON
                    </li>
                    <li>
                        jquery
                    </li>
                </ul>
            </div>


            <div class='resumeSection'>
            <h4>
                Education:
            </h4>
            <h5>
                UC Davis Web development Bootcamp
            </h5>
            <p>
                June 2021-December 2021
            </p>
            <p>
                Certificate program, 6 months intensive training in full-stack web development.
            </p>
        </div>


        <div class='resumeSection'>
            <h4>

                Prior work experience:
            </h4>

            <h5>
                Insight Veterinary Wellness Center
            </h5>
            <p>
                june 2020-Present
            </p>
            <p>
                Pet concierge/Team Lead
            </p>
            <P>
                Led a small team to run the boarding side of Insight Veterinary Wellness Center.
            </P>
            <p>
                Ran front end procedures and trained staff on technologies and software needed for role.
            </p>
        </div>
    </div>

    </main>